:root {

        --morado-1: #B77AAB;
        --morado-2: #984C8A;
        --morado-3: #7A296A;
        --morado-4: #5B0F4D;
        --morado-5: #3D0031;
        --cafe-1: rgba(255, 192, 170, 0.4);
        --cafe-2: rgba(212, 133, 106, 0.7);
        --cafe-3: rgba(170, 86, 57, 0.66);
        --cafe-4: #803015;
        --cafe-5: #551600;
        --verde-1: #C7E99B;
        --verde-2: #98C261;
        --verde-3: #6E9B34;
        --verde-4: #4A7413;
        --verde-5: #2C4E00;
        --amarillo-1: #D3BB4B;
        --amarillo-2: #FFF0A9;
        --amarillo-3: #F7E17B;
        --amarillo-4: rgba(245, 212, 46, 0.94);
        --amarillo-5: rgba(143, 121,  15 0.7);
        --azul-1: #669999;
        --azul-2: #407F7F;
        --azul-3: #226666;
        --azul-4: #0D4D4D;
        --azul-5: #003333;
    --fondo: rgb(255, 255, 255);
    --letras: rgb(0, 0, 0);
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--fondo);
}

main {
    width: 100%;
    height: 92.5vh;
    float: left;
    margin-top: 7.5vh;
}

button {
    min-width: 20%;
    width: max-content;
    height: 65%;
    cursor: pointer;
    border-radius: 2vh;
    background-color: var(--azul-2);
    border: .2vh var(--azul-5) solid;
    color: white;
    font-family: Helvetica;
    font-size: 3vh;
    box-shadow: -.65vh .65vh rgba(0, 0, 0, .5);
}

.sect-titulo {
    width: 100%;
    height: 20%;
    float: left;
}

.h1-titulo{
    font-size: 7vh;
    text-align: center;
    margin-top: 4vh;
    color: var(--cafe-5)
}

.sect-blanco-1 {
    width: 15%;
    height: 80%;
    float: left;

}

.sect-contenido{
    width: 70%;
    height: 70%;
    float: left;
    background-color: #dadada;
    border-radius: 4vh;
}

.art {
    width: 100%;
    height: 16.6666%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.art-logout {
    width: 100%;
    height: 16.6666%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-blanco-2 {
    width: 15%;
    height: 80%;
    float: right;
    background-color: var(--fondo);
}

.lab {
    font-size: 5vh;
    font-family: sans-serif;
    color: var(--morado-5)
}

.lab-cont {
    font-size: 3vh;
    font-family: Helvetica;
    margin-left: 1vh;
    margin-right: 4vh;
    color: var(--morado-3)
}

.lab-switch {
    margin-top: .5vh;
    font-size: 3vh;
    font-family: Helvetica;
    margin-left: 2vh;
    margin-right: 1vh;
    color: var(--morado-3)
}

pre{
    font-size: 3vh;
    font-family: Helvetica;
}

.img-perfil{
    height: 8vh;
    margin-left: 3vh;
    margin-right: 3vh;
}

.btn {
    font-family: Helvetica;
    font-size: 3vh;
}

.btn:hover{
    animation-name: btn;
    animation-duration: 200ms;
    font-size: 3.2vh;
    color: var(--azul-5);
    transform: translateY(-.5vh);

}

@keyframes btn {
    from{
        color: white;
        font-size: 3vh;
        transform: translateY(0vh);
    }to{
        color: var(--azul-5);
        font-size: 3.2vh;
        transform: translateY(-.5vh);
    }
}


/*  Switch On/off   */
:root {
    --color-green: #1a1a1a;
    --color-red: var(--morado-1);
    --color-button: #fdffff;
    --color-black: #000;
}
.switch-button {
    margin-top: 1vh;
    margin-left: 2vh;
    display: inline-block;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 7vh;
    height: 4vh;
    border-radius: 3vh;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 4vh;
    height: 4vh;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px .1vh var(--color-black);
}

.switch-button__label{
    cursor: pointer;
}

.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(3vh);
}

.logout{
    margin-bottom: 2vh;
}

.logout:hover{
    color: red;
    animation-name: logout;
    animation-duration: .65s;
    animation-iteration-count: infinite;
}

@keyframes logout {
    10%{ transform: translateX(.6vh); }
    20%{ transform: translateX(-.6vh); }
    30%{ transform: translateX(.6vh); }
    40% { transform: translateX(0vh); }
}