:root {
    --morado-1: #9688C8;
    --morado-2: #6C5AA9;
    --morado-3: #4F3C91;
    --morado-4: #39267D;
    --morado-5: #251363;
    --rosa-1: #E894A8;
    --rosa-2: #C15A72;
    --rosa-3: #9C314A;
    --rosa-4: #77122A;
    --rosa-5: #500013;
    --verde-1: #82CCA2;
    --verde-2: #52AF7A;
    --verde-3: #33965E;
    --verde-4: #188148;
    --verde-5: #096631;
    --amarillo-1: #FFF0A9;
    --amarillo-2: #F7E17B;
    --amarillo-3: #D3BB4B;
    --amarillo-4: #B59D2A;
    --amarillo-5: #90790F;
    --fondo: rgb(255, 255, 255);
    --letras: rgb(0, 0, 0);
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--fondo);
}

main {
    width: 100%;
    height: 92.5vh;
    float: left;
    margin-top: 7.5vh;
}

button {
    width: 20%;
    height: 65%;
    cursor: pointer;
    border-radius: 2vh;
    background-color: var(--morado-5);
    color: white;
    font-family: 'Josefin Sans';
    box-shadow: -.65vh .65vh rgba(0, 0, 0, .5);
}

.sect-titulo {
    width: 100%;
    height: 20%;
    float: left;
    background-color: var(--fondo);
}

.h1-titulo{
    font-size: 7vh;
    text-align: center;
    margin-top: 4vh;
    color:var(--letras);
}

.sect-blanco-1 {
    width: 15%;
    height: 80%;
    float: left;
    background-color: var(--fondo);

}

.sect-contenido{
    width: 70%;
    height: 70%;
    float: left;
    background-color: var(--rosa-2);
    border-radius: 4vh;
}

.art {
    width: 100%;
    height: 16.6666%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.art-logout {
    width: 100%;
    height: 16.6666%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-blanco-2 {
    width: 15%;
    height: 80%;
    float: right;
    background-color: var(--fondo);
}

.lab {
    font-size: 5vh;
    font-family: sans-serif;
    color:var(--letras);
}

.lab-cont {
    font-size: 3vh;
    font-family: Helvetica;
    margin-left: 1vh;
    margin-right: 4vh;
    color:var(--letras);
}

.lab-switch {
    margin-top: .5vh;
    font-size: 3vh;
    font-family: Helvetica;
    margin-left: 2vh;
    margin-right: 1vh;
    color:var(--letras);
}

pre{
    font-size: 3vh;
    font-family: Helvetica;
}

.img-perfil{
    height: 8vh;
    margin-left: 3vh;
    margin-right: 3vh;
}

.btn {
    width: max-content;
    font-family: Helvetica;
    font-size: 3vh;
}

.btn:hover{
    animation-name: btn;
    animation-duration: 200ms;
    font-size: 3.2vh;
    color: rgb(88, 88, 88);
}

@keyframes btn {
    from{
        color: white;
        font-size: 3vh;
    }to{
        color: rgb(88, 88, 88);
        font-size: 3.2vh;
    }
}


/*  Switch On/off   */
:root {
    --color-green: #1a1a1a;
    --color-red: #d3d3d3;
    --color-button: #fdffff;
    --color-black: #000;
}
.switch-button {
    margin-top: 1vh;
    margin-left: 2vh;
    display: inline-block;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 7vh;
    height: 4vh;
    border-radius: 3vh;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 4vh;
    height: 4vh;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px .1vh var(--color-black);
}

.switch-button__label{
    cursor: pointer;
}

.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(3vh);
}

.logout{
    margin-bottom: 2vh;
}

.logout:hover{
    color: red;
    animation-name: logout;
    animation-duration: .65s;
    animation-iteration-count: infinite;
}

@keyframes logout {
    10%{ transform: translateX(.6vh); }
    20%{ transform: translateX(-.6vh); }
    30%{ transform: translateX(.6vh); }
    40% { transform: translateX(0vh); }
}