:root {
    --morado-1: #B77AAB;
    --morado-2: #984C8A;
    --morado-3: #7A296A;
    --morado-4: #5B0F4D;
    --morado-5: #3D0031;
    --cafe-1: rgba(255, 192, 170, 0.4);
    --cafe-2: rgba(212, 133, 106, 0.7);
    --cafe-3: rgba(170, 86, 57, 0.66);
    --cafe-4: #803015;
    --cafe-5: #551600;
    --verde-1: #C7E99B;
    --verde-2: #98C261;
    --verde-3: #6E9B34;
    --verde-4: #4A7413;
    --verde-5: #2C4E00;
    --amarillo-1: #D3BB4B;
    --amarillo-2: #FFF0A9;
    --amarillo-3: #F7E17B;
    --amarillo-4: rgba(245, 212, 46, 0.94);
    --amarillo-5: rgba(143, 121,  15 0.7);
    --azul-1: #669999;
    --azul-2: #407F7F;
    --azul-3: #226666;
    --azul-4: #0D4D4D;
    --azul-5: #003333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: black;
    background-image: url(../img/fondo-login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

h2 {
    font-family: 'Prompt', sans-serif;
    color: var(--cafe-4);
}

h3{
    font-family: 'Josefin Sans', sans-serif;
}

p{
    font-family: Helvetica;
}

input {
    font-family: 'Josefin Sans', sans-serif;
}

.btn-back{
    left: 2vh;
    top: 2vh;
    position: absolute;
    width: 10vh;
    font-size: 2.5vh;
    height: 3.5vh;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0px;
    border-radius: .75vh;
    cursor: pointer;
}

.btn-back:hover{
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.75);
    animation-name: btn-back-hover;
    animation-timing-function: ease-in;
    animation-duration: 200ms;
    font-size: 2.75vh;
}

.btn-back:not(:hover){
    animation-name: btn-back-not-hover;
    animation-timing-function: ease-in;
    animation-duration: 200ms;
}

@keyframes btn-back-hover{
    from{
        font-size: 2.5vh;
        background-color: rgba(255, 255, 255, 0.5);
    }to{
        font-size: 2.75vh;
        background-color: rgba(255, 255, 255, 0.75);
    }
}

@keyframes btn-back-not-hover{
    from{
        font-size: 2.75vh;
        background-color: rgba(255, 255, 255, 0.75);
    }to{
        font-size: 2.5vh;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);

}

.caja__trasera div{
    margin: 100px 40px;
    color: black;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #4f4f50;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register section{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register section form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #0b0b0c;
}

.contenedor__login-register section form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}
.Mensaje_de_ERROR{
    font-size: 2.5vh;
    color: rgb(170,0,0);
    text-align: center;
}

.contenedor__login-register section form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #030303;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

.formulario__login{
    opacity: 1;
    display: block;
}

.formulario__register{
    display: none;
}

.btn{
    width: 35vh;
    height: 8.5vh;
    font-size: 3vh;
    display: block;
    margin: auto;
    margin-top: 4vh;
    cursor: pointer;
    border: solid .5vh transparent;
    color: var(--verde-2);
    background: linear-gradient(#fff, #fff) no-repeat, linear-gradient(to left, var(--verde-2) 12vh, #cea87c00 12vh, #cea87c00 22vh, var(--verde-2) 22vh);
}

.btn:hover{
    background: linear-gradient(var(--verde-3), var(--verde-3)) no-repeat, linear-gradient(to left, var(--verde-4) 0%, #cea87c00 0%, #cea87c00 0%, var(--verde-4) 0%);
    animation-name: btn-hover;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    font-size: 3.5vh;
    color: white
}

.btn:not(:hover){
    animation-name: btn-not;
    animation-duration: 350ms;
    animation-timing-function: ease-out;
}

@keyframes btn-hover{
    from{
        font-size: 3vh;
    }to{
        font-size: 3.5vh;
    }
}

@keyframes btn-not{
    from{
        font-size: 3.5vh;
    }to{
        font-size: 3vh;
    }
}

@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}