:root {
    --morado-1: #B77AAB;
    --morado-2: #984C8A;
    --morado-3: #7A296A;
    --morado-4: #5B0F4D;
    --morado-5: #3D0031;
    --morado-6: #ee86d9;
    --morado-7: #e955cb;
    --cafe-1: rgba(255, 192, 170, 0.4);
    --cafe-2: rgba(212, 133, 106, 0.7);
    --cafe-3: rgba(170, 86, 57, 0.66);
    --cafe-4: #803015;
    --cafe-5: #551600;
    --verde-1: #C7E99B;
    --verde-2: #98C261;
    --verde-3: #6E9B34;
    --verde-4: #4A7413;
    --verde-5: #2C4E00;
    --amarillo-1: #D3BB4B;
    --amarillo-2: #FFF0A9;
    --amarillo-3: #F7E17B;
    --amarillo-4: rgba(245, 212, 46, 0.94);
    --amarillo-5: rgba(143, 121,  15 0.7);
    --azul-1: #669999;
    --azul-2: #407F7F;
    --azul-3: #226666;
    --azul-4: #0D4D4D;
    --azul-5: #003333;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #4f4f4f;
}

main{
    width: 100%;
    height: 92.5vh;
    float: left;
    margin-top: 7.5vh;
}

h1{
    cursor: default;
}

.art-titulo {
    width: 100%;
    height: 20vh;
    float: left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.h1-titulo{
    font-size: 9vh;
    text-align: center;
    margin-top: 3vh;
    color: var(--morado-6);
}

.art-ajustes {
    width: 100%;
    height: 71.5vh;
    float: left;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.art-datos{
    width: 100%;
    height: 20%;
    float: left;
    cursor: pointer;
}

.art-datos:hover{
    animation-name: art-datos;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;

    transform: translateY(-2vh);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.art-datos:hover .sect-datos h3{
    color: var(--morado-7);
}


@keyframes art-datos {
    0% { transform: translateY(0vh); }
    40% { transform: translateY(-3vh); }
    85% { transform: translateY(-2vh); }
}

.art-datos:not(:hover){
    animation-name: not-art-datos;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
}

@keyframes not-art-datos {
    from{ 
        transform: translateY(-2vh); 
    }to{ 
        transform: translateY(0vh); 
    }
}

.sect-icono {
    width: 10%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sect-datos {
    width: 80%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.sect-flecha {
    width: 10%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-icono {
    height: 65%;
    margin-right: 2vh;
}

.h3-nombre-dato {
    font-size: 3vh;
    margin-left: 2vh;
    color: var(--morado-5);
}

.p-desc-dato {
    font-size: 2vh;
    margin-top: 1vh;
    margin-left: 2vh;
    color:gray
}

.img-flecha {
    height: 30%;
    opacity: .5;
}
